.verifiedContainer {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contentWrapper {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.verifiedContent {
    width: 100%;
    z-index: 2;
}

@media (max-width: 768px) {
    .contentWrapper {
        padding: 0 10px;
    }
}

@media (max-width: 576px) {
    .verifiedContainer {
        overflow-x: hidden;
    }
}

@media (max-width: 399px) {
    .contentWrapper {
        padding: 0 5px;
    }
}
